.item {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  padding: 10px 20px;
  gap: 15px;
  width: 450px;
  border-radius: 10px;
  box-shadow: 5px 5px 8px 1px rgba(112, 111, 111, 1);
  background-color: white;
}

.status {
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #ff0000;
}

.status .isOnline {
  background-color: #008000;
}

.avatar {
  height: 80px;
  width: auto;
  border-radius: 10px;
  border: 1px solid #9faab6;
}

.name {
  font-size: 32px;
}
